.display {
    background-color: #f8a8a8;
    padding: 32px 12px 32px 12px;
    border: 1px solid #000;
    border-bottom: none;
    font-family: sans-serif;
    text-align: center;
}
.title {
    font-size: 1rem;
    margin-bottom: 4px;
}
.value {
    font-size: 1rem;
}
.number {
    font-weight: bold;
    font-style: italic;
}
.controls {
    display: flex;
    border: 1px solid #000;
}
button {
    flex: 1;
    background-color: #d3d3d3;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    height: 64px;
    align-items: center;
}
button:not(:last-child) {
    border-right: 1px solid #000;
}
button:hover {
    background-color: #bdbdbd;
    font-size: 3rem;
}
button:active {
    background-color: #838383;
}
.wrapper {
    border: 1px solid #000;
    padding: 32px;
    width: 360px;
    font-family: sans-serif;
    text-align: center;
}
counter-display-b {
    display: block;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: azure;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    margin: 0;
}
.komponen {
    border: 1px #000 solid;
    padding: 32px;
}